<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h1>Editing Book</h1>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@book.errors.count, "error") %> errors prohibited this obj form begin saved:</h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @book,local:true do |f| %>

  <div class="form-group">
    <lable for="book_title">Title</lable>
    <%= f.text_field :title, class: "form-control book_title" %>
  </div>

  <div class="form-group">
    <lable for="book_opinion">Opinion</lable>
    <%= f.text_area :body, class: "form-control book_body" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update Book", class: "btn btn-success" %>
  </div>
  <%= link_to "Show", @book %>
  |

  <%= link_to "Back", '/books' %>
  <% end %>
</div>